body {
	background-color: #D3E9F9;
}

header {
	color: #5086AD;
	font-size: 50px;
	text-align: center;
	margin: 30px auto;
	height: 70px;
	width: 40%;
}

.container {
	background-color: #8EBBDC;
	color: #FFFFFF;
	width: 50%;
	position: absolute;
	text-align: center;
	margin: 50px;	
	margin-left: 345px;
	padding: 20px;
	padding-bottom: 50px;

}

p {
	font-size: 20px;
	text-align: center;
	margin: 20px auto;
	height: 20px;
	width: 40%;
}

#wins, strong {
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
	height: 20px;
	width: 40%;
}

#losses {
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
	height: 20px;
	width: 40%;
}


#underscores {
	font-size: 30px;
	text-align: center;
	margin: 30px
	height: 20px;
	padding-bottom: 60px;
}

#remaining {
	font-size: 30px;
	text-align: center;
	margin: 20px auto;
	height: 20px;
	width: 40%;
}

#wrongGuess {
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
	height: 20px;
	width: 40%;
}